<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Başvurular Kapalı</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="alert alert-info text-center">
                    <h2>Başvurular Kapalı</h2>
                    <p class="mt-3">Şu anda hakem başvuruları kabul edilmemektedir. Lütfen daha sonra tekrar deneyiniz.</p>
                    <div class="d-flex justify-content-center">
                        <a href="/" class="btn btn-primary mr-2">MYS Anasayfa</a>
                        <a href="http://tmpf.org.tr" class="btn btn-success">Tmpf Anasayfa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS ve bağımlılıkları -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
