{% extends 'base.html' %}

{% block title %}Spor Dalı Düzenle{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Spor Dalı Düzenle</h2>
    <form action="{{ url_for('spor_dali_duzenle', id=spor_dali.id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>

        <div class="form-group">
            <label for="sporDaliAdi">Spor Dalı Adı:</label>
            <input type="text" class="form-control" id="sporDaliAdi" name="spor_dali_adi" value="{{ spor_dali.dal_adi }}" required>
        </div>

        <button type="submit" class="btn btn-primary">Güncelle</button>
    </form>
</div>
{% endblock %}
