{% extends 'base.html' %}

{% block title %}Yönetici Düzenle{% endblock %}

{% block content %}
<div class="container">
<div></div>
  <form method="POST" action="{{ url_for('yonetici_duzenle', id=yonetici.id) }}" enctype="multipart/form-data">
    <!-- Fotoğraf -->
    <div class="form-group">
      <label for="foto">Fotoğraf</label>
      <input type="file" class="form-control" id="foto" name="foto">
      {% if yonetici.foto %}
        <img src="{{ url_for('static', filename='uploads/' ~ yonetici.foto) }}" alt="Yönetici Fotoğrafı" class="img-thumbnail mt-2" style="max-width: 200px;">
      {% endif %}
    </div>
    <!-- Yönetici Bilgileri -->
    <div class="form-group">
      <label for="tc_kimlik_no">T.C. Kimlik No</label>
      <input type="text" class="form-control" id="tc_kimlik_no" name="tc_kimlik_no" value="{{ yonetici.tc_kimlik_no }}" required>
    </div>
    <div class="form-group">
      <label for="ad_soyad">Ad Soyad</label>
      <input type="text" class="form-control" id="ad_soyad" name="ad_soyad" value="{{ yonetici.ad_soyad }}" required>
    </div>
    <div class="form-group">
      <label for="gorevi">Görevi</label>
      <input type="text" class="form-control" id="gorevi" name="gorevi" value="{{ yonetici.gorevi }}" required>
    </div>
    <div class="form-group">
      <label for="telefon">Telefon</label>
      <input type="tel" class="form-control" id="telefon" name="telefon" value="{{ yonetici.telefon }}" required>
    </div>
    <div class="form-group">
      <label for="eposta">Eposta</label>
      <input type="email" class="form-control" id="eposta" name="eposta" value="{{ yonetici.eposta }}" required>
    </div>
    <div class="form-group">
      <label for="adres">Adres</label>
      <textarea class="form-control" id="adres" name="adres" required>{{ yonetici.adres }}</textarea>
    </div>
    <div class="form-group">
      <label for="il">İl</label>
      <input type="text" class="form-control" id="il" name="il" value="{{ yonetici.il }}" required>
    </div>
    
    <!-- Kullanıcı Bilgileri -->
    <div class="form-group">
      <label for="kullanici_adi">Kullanıcı Adı</label>
      <input type="text" class="form-control" id="kullanici_adi" name="kullanici_adi" value="{{ kullanici.kullanici_adi }}" required>
    </div>
    <div class="form-group">
      <label for="sifre">Yeni Şifre (değiştirmek istiyorsanız)</label>
      <input type="password" class="form-control" id="sifre" name="sifre" placeholder="Yeni şifre girin">
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
  </form>
</div>
{% endblock %}
